In [1]:
import pandas as pd
#testas

In [2]:
df_price = pd.read_csv('./resale_price.csv')
df_price = df_price.dropna().reset_index(drop=True)
df_price = df_price.drop_duplicates(ignore_index=True)
print('df_price shape :', df_price.shape)
df_price.head(3)

df_price shape : (155653, 11)

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0

In [6]:
df_price['month'] = pd.to_datetime(df_price['month'])

# Filter the DataFrame based on the desired date range
start_date = '2017-01'
end_date = '2020-12'
filtered_df_price = df_price[(df_price['month'] >= start_date) & (df_price['month'] <= end_date)]

In [5]:
filtered_df_price.head(10)

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0
5,2017-01-01,ANG MO KIO,3 ROOM,150,ANG MO KIO AVE 5,01 TO 03,68.0,New Generation,1981,63 years,275000.0
6,2017-01-01,ANG MO KIO,3 ROOM,447,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1979,61 years 06 months,280000.0
7,2017-01-01,ANG MO KIO,3 ROOM,218,ANG MO KIO AVE 1,04 TO 06,67.0,New Generation,1976,58 years 04 months,285000.0
8,2017-01-01,ANG MO KIO,3 ROOM,447,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1979,61 years 06 months,285000.0
9,2017-01-01,ANG MO KIO,3 ROOM,571,ANG MO KIO AVE 3,01 TO 03,67.0,New Generation,1979,61 years 04 months,285000.0

In [18]:
filtered_df_price.tail(10)

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
87360,2020-12-01,YISHUN,5 ROOM,505B,YISHUN ST 51,07 TO 09,112.0,Improved,2016,94 years 04 months,580000.0
87361,2020-12-01,YISHUN,5 ROOM,504C,YISHUN ST 51,07 TO 09,113.0,Improved,2016,94 years 04 months,575000.0
87362,2020-12-01,YISHUN,5 ROOM,644,YISHUN ST 61,07 TO 09,123.0,Improved,1988,66 years 07 months,420000.0
87363,2020-12-01,YISHUN,5 ROOM,820,YISHUN ST 81,04 TO 06,129.0,Improved,1988,66 years 08 months,520000.0
87364,2020-12-01,YISHUN,EXECUTIVE,325,YISHUN CTRL,01 TO 03,146.0,Maisonette,1988,66 years 11 months,550000.0
87365,2020-12-01,YISHUN,EXECUTIVE,352,YISHUN RING RD,04 TO 06,146.0,Maisonette,1988,66 years 08 months,560000.0
87366,2020-12-01,YISHUN,EXECUTIVE,356,YISHUN RING RD,01 TO 03,145.0,Apartment,1988,66 years 09 months,540000.0
87367,2020-12-01,YISHUN,EXECUTIVE,611,YISHUN ST 61,13 TO 15,142.0,Apartment,1987,66 years,638000.0
87368,2020-12-01,YISHUN,EXECUTIVE,834,YISHUN ST 81,10 TO 12,146.0,Maisonette,1988,66 years 02 months,683500.0
87369,2020-12-01,YISHUN,EXECUTIVE,824,YISHUN ST 81,07 TO 09,142.0,Apartment,1987,65 years 11 months,670000.0

In [50]:
df_cpi = pd.read_csv('./cpi_singapore.csv', skiprows=10)
df_cpi = df_cpi.dropna().reset_index(drop=True)
df_cpi = df_cpi.drop_duplicates(ignore_index=True)
df_cpi = df_cpi.iloc[:, 1:].iloc[[0]]
df_cpi = df_cpi.T
df_cpi.columns = ['cpi']
df_cpi.index = pd.to_datetime(df_cpi.index)

/var/folders/dk/wqh5z1x966l5l_2vprnb3btm0000gn/T/ipykernel_73661/4033848861.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_cpi.index = pd.to_datetime(df_cpi.index)

In [51]:
print(df_cpi)

                cpi
2023-05-01  113.034
2023-04-01  112.669
2023-03-01  112.583
2023-02-01  112.019
2023-01-01  111.397
...             ...
1961-05-01   24.053
1961-04-01   24.187
1961-03-01   24.585
1961-02-01   24.565
1961-01-01   24.542

[749 rows x 1 columns]

In [54]:
df_merged = df_price.merge(df_cpi, left_index=True, right_on='month',how='inner')

KeyError: 'month'